@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

section {
  @apply min-h-[80vh];
}

.vertical-timeline.vertical-timeline--two-columns {
  width: 100% !important;
}

.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  margin-left: 0.6rem;
}

/* width */
::-webkit-scrollbar {
  @apply w-[10px] bg-transparent;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-900;
} */
